html {
  height: 100%;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

#root {
  background: radial-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 8px 8px;
  display: table;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

input[type=range]::-moz-range-track {
    background: #bbb;
}

input[type=range]::-moz-range-thumb {
    border: none;
    background: #669;
}


.content {
  padding: 1rem;
}

.partycomposition-mainframe {
  height: 320px;
  width: 100%;
  display: table;
}

.partycomposition-wrapper {
  width: 100%;
  height: 96%;
  display: table;
  border-radius: 10px;
}

.partymember-mainframe {
  float: left;
  display: table-row;
  margin-top: 3px;
  margin-bottom: 3px;
}

@media screen and (max-width: 1150px) {
  .partymember-mainframe {
    width: 31%;
  }
}

@media screen and (min-width: 1150px) {
  .partymember-mainframe {
    width: 16.14%;
    margin-left: 0.25%;
    margin-right: 0.25%;
  }
}


.servantslot-closebutton {
  float: right;
  background: #88f;
  padding: 5px;
  border: 1px blue solid;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.servantslot-mainframe {
  width: 100%;
  height: 180px;
  position: relative;
  background-repeat: no-repeat;
}

.servantslot-mainframe > img {
  margin: auto;
  display: block;
}

.servantslot-nplevel {
  bottom: 0%;
  width: 100%;
  font-size: 35;
  margin-left: 5px;
}

.ceslot-mainframe {
}

.ceslot-mainframe input[type='range'] {
  width: 92%;
}

.ceslot-raritylevel {
  font-size: 1.1em;
  background: floralwhite;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 2%;
}

.ceslot-text-legend {
  margin-left: 2%;
}

.circled-border {
  border-radius: 5px;
}

.ceslot-slider {
  margin-left: 5px;
}

.ceslot-eventbuff {
  font-size: 1.1em;
  font-weight: bold;
  background: floralwhite;
  margin-left: 5px;
  margin-bottom: 5px;
}

.servantslot-nplevel-legend {
  float: left;
  width: 35%;
  color: yellow;
  font-size: 1.2em;
  font-weight: bold;
}

.servantslot-nplevel-modifier {
  float: left;
  width: 55%;
  height: 20px;
  display: block;
}

@media screen and (max-width: 500px) {
  .hofc-bottom-mainframe-mobile  .servantpicker-mainframe {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media screen and (min-width: 500px) and (max-width: 725px) {
  .hofc-bottom-mainframe-mobile  .servantpicker-mainframe {
    width: 14.66%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media screen and (min-width: 725px) and (max-width: 1000px){
  .hofc-bottom-mainframe-mobile  .servantpicker-mainframe {
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 11.5%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1150px){
  .hofc-bottom-mainframe-mobile  .servantpicker-mainframe {
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 9%;
  }
}

@media screen and (min-width: 1150px) {
  .hofc-bottom-mainframe-mobile  .servantpicker-mainframe {
    width: 7.3%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}

.hofc-bottom-mainframe-desktop .servantpicker-mainframe {
  width: 11.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.servantpicker-mainframe {
  float: left;
}

.servantpicker-mainframe img {
  width: 100%;
}

.servantselector-mainframe {
  width: 100%;
}

.servantselector-filter input {
  width: 100%;
  font-size: x-large;
  border-radius: 7px;
}

@media screen and (min-width: 1150px) {
  .servantselector-picker {
    height: 320px;
  }
}

@media screen and (max-width: 1150px) {
  .servantselector-picker {
    height: 600px;
  }
}

.servantselector-picker {
  width: 100%;
  overflow-y: scroll;
  margin-top: 10px;
}

.turnmanager-mainframe {
  padding: 3px;
}

.turnmanager-mainframe > input {
  width: 75%;
  margin-left: 2.5%;
  margin-top: 10px;
  margin-right: 2.5%;
}

.turnmanager-turnlength {
  width: 98%;
  color: white;
  font-size: x-large;
}

.hofc-bottom-mainframe {
  display: block;
  width: 100%;
}

.hofc-leftside-mainframe {
  width: 55%;
  float: left;
  margin-right: 10px;
  height: 380px;
}

.hofc-part2-mainframe {
  width: 100%;
  margin-bottom: 10px;
}

.hofc-rightside-mainframe {
  width: 43%;
  height: 380px;
  float: left;
}

.calc-result-mainframe {
  text-align: center;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.calc-result-wrapper {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: cornsilk;
}

