html {
  background: black;
  height: 100%;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 8px 8px;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}

.partycomposition-mainframe {
  margin: auto;
  min-height: 300px;
  width: 100%;
  display: table;
}

.partymember-mainframe {
  float: left;
  margin: 3px;
  margin-bottom: 10px;
  display: table-row;
}

@media screen and (max-width: 1024px) {
  .partymember-mainframe {
    width: 31%;
  }
}

@media screen and (min-width: 1024px) {
  .partymember-mainframe {
    width: 16%;
  }
}


.servantslot-closebutton {
  float: right;
  background: #88f;
  padding: 5px;
  border: 1px blue solid;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.servantslot-mainframe {
  width: 100%;
  height: 180px;
  position: relative;
  background-repeat: no-repeat;
}

.servantslot-mainframe > img {
  margin: auto;
  display: block;
}

.servantslot-nplevel {
  bottom: 0%;
  width: 100%;
  font-size: 35;
  margin-left: 5px;
}

.ceslot-mainframe {
}

.ceslot-mainframe input[type='range'] {
  width: 92%;
}

.ceslot-raritylevel {
  font-size: 1.1em;
  background: floralwhite;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
}

.ceslot-text-legend {
  margin-left: 5px;
}

.circled-border {
  border-radius: 5px;
}

.ceslot-slider {
  margin-left: 5px;
}

.ceslot-eventbuff {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 5px;
  background: floralwhite;
  margin-left: 5px;
}

.servantslot-nplevel-legend {
  float: left;
  width: 35%;
  color: yellow;
  font-size: 1.2em;
  font-weight: bold;
}

.servantslot-nplevel-modifier {
  float: left;
  width: 55%;
  height: 20px;
  display: block;
}

.servantpicker-mainframe {
  float: left;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: white;
}

.servantpicker-mainframe img {
  width: 100%;
}

.servantselector-mainframe {
  width: 100%;
}

.servantselector-picker {
  width: 100%;
  overflow-y: scroll;
  height: 320px;
  margin-top: 10px;
}

.turnmanager-mainframe > input {
  width: 75%;
  margin: 10px;
}

.turnmanager-turnlength {
  width: 98%;
  color: white;
  font-size: x-large;
}

.hofc-bottom-mainframe {
  display: block;
  width: 100%;
}

.hofc-leftside-mainframe {
  width: 55%;
  float: left;
  margin-right: 10px;
  height: 380px;
}

.hofc-part2-mainframe {
  width: 100%;
  margin-bottom: 10px;
}

.hofc-rightside-mainframe {
  width: 43%;
  height: 380px;
  float: left;
}

.calc-result-mainframe {
  text-align: center;
  background: aqua;
  font-size: x-large;
  margin-top: 10px;
}
